<div class="wd-accounts-section">
	<div class="w-container wd-accounts-container">
		<h3 class="wd-accounts-title">Accounts</h3>
		<table class="wd-accounts-table">
			<% @bank_accounts.each do |b| %>
			<tr>
				<td class="wd-accounts-table-tr"><%= '***' + b.last4 + ' ' + b.bank_name %></td>
				<td class="wd-accounts-table-tr">
					<% if b.default_for_currency == true %>
						<%= 'Default' %>
					<% else %>
						<%= link_to 'Set Default', stripe_infos_default_bank_account_path(id: b.id), method: :post, class: "link-to" %>
					<% end %>
				</td>
				<td class="wd-accounts-table-tr"><%= link_to 'Remove', stripe_infos_remove_bank_account_path(id: b.id), method: :post, class: "link-to" %></td>
			</tr>
			<% end %>
		</table>
		<a class="w-button wd-accounts-button" data-ix="add-bank-button" href="#">Add Account</a>
	</div>
</div>
