<div class="wd-withdraw-section">
	<div class="w-container wd-withdraw-container">
		<h3 class="wd-withdraw-title">Required Fields before withdrawal</h3>
		<div class="w-form">
			<form action="/stripe_infos/submit_fields_needed" method="POST">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<% @account.verification.fields_needed.each do |f| %>
					<% if f == 'legal_entity.dob.day' %>
						<label class="wd-withdraw-label" for="dob">Date of Birth:</label>
						<input type="date" name="dob" placeholder="mm/dd/yyyy" class="w-input wd-withdraw-textbox" data-name="dob" id="dob" required="required">
					<% elsif f == 'legal_entity.first_name' %>
						<label class="wd-withdraw-label" for="first_name">First Name:</label>
						<input type="text" name="first_name" placeholder="First Name" class="w-input wd-withdraw-textbox" data-name="first_name" id="first_name" required="required">
					<% elsif f == 'legal_entity.last_name' %>
						<label class="wd-withdraw-label" for="last_name">First Name:</label>
						<input type="text" name="last_name" placeholder="First Name" class="w-input wd-withdraw-textbox" data-name="last_name" id="last_name" required="required">
					<% elsif f == 'legal_entity.type' %>
						<select class="w-select wd-withdraw-dropdown" data-name="entity_type" id="entity_type" name="entity_type" required="required">
								<option value="individual">Individual</option>
								<option value="business">Business</option>
						</select>
					<% elsif f == 'tos_acceptance.date' %>
						<label class="wd-withdraw-label" for="tos">Terms of Service:</label>
						<div>
							<input type="checkbox" name="tos" data-name="tos" id="tos" required="required">
							<p style="display:inline-block;">By registering your account, you agree to our Services Agreement and the <a href="https://stripe.com/connect-account/legal">Stripe Connected Account Agreement.</a></p>
						</div>
					<% elsif f == 'MORE' %>
						<!-- Put MORE forms -->
					<% end %>

					<input class="w-button wd-withdraw-button" data-wait="Please wait..." type="submit" value="Submit">

				<% end %>
			</form>
			<div class="w-form-done">
				<div>Thank you! Your submission has been received!</div>
			</div>
			<div class="w-form-fail">
				<div>Oops! Something went wrong while submitting the form</div>
			</div>
		</div>
	</div>
</div>
