<div class="tier-creation-div">
	<script>
		document.getElementById("tier-creation-div").lastElementChild.insertAdjacentHTML('beforeend','<label for="amount">Goal Amount</label>');
		document.getElementById("tier-creation-div").lastElementChild.insertAdjacentHTML('beforeend','<input data-name="amount" class="w-input" id="amount" maxlength="256" placeholder="$100" required="required" autofocus="autofocus" size="256" type="text" name="project[goals_attributes]['+goals_tier_index+'][amount]">');
		document.getElementById("tier-creation-div").lastElementChild.insertAdjacentHTML('beforeend','<label for="body">Goal Body</label>');
		document.getElementById("tier-creation-div").lastElementChild.insertAdjacentHTML('beforeend', '<textarea data-name="body" class="w-input" id="body" maxlength="5000" placeholder="We do two shows a week..." required="required" autofocus="autofocus" name="project[goals_attributes]['+goals_tier_index+'][body]"></textarea>');
	</script>
</div>
