<div class="tier-creation-div">
	<%= f.fields_for :rewards_tiers, child_index: @indx do |r| %>
		<% @indx = @indx + 1 %>
		<label for="min_amount">Tier Amount</label>
		<%= r.text_field :min_amount, data: {name: 'min_amount'}, class: "w-input", id: "min_amount", maxlength: "256", placeholder: "$1", required: "required",  autofocus: 'true' %>

		<label for="body">Tier Body</label>
		<%= r.text_area :body, data: {name: 'body'}, class: "w-input", id: "body", maxlength: "5000", placeholder: "We email you the show notes and links...", required: "required", autofocus: 'true' %>
	<% end %>
</div>
