<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Tue Feb 14 2017 00:27:56 GMT+0000 (UTC)  -->
<html data-wf-page="589bc50215395b8d57bc1cb1" data-wf-site="589bc50215395b8d57bc1cb0">
<head>
  <meta charset="utf-8">
  <title>Adam&#39;s Top-Notch Site</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript">
    WebFont.load({
      google: {
        families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic"]
      }
    });
  </script>
</head>
<body class="body-class">
	<%= render '/shared/signup_modal' %>
	<%= render '/shared/login_modal' %>
	<%= render '/shared/nav' %>
  <div class="header-section">
    <div class="w-container">
      <h1 class="main-title">Contribute to the Weird Things Podcast</h1>
      <div class="w-row">
        <div class="w-col w-col-7">
          <div class="header-image"><img class="main-img" height="300" src="/assets/after-things-Patreon.png" width="300">
          </div>
        </div>
        <div class="summary-col w-col w-col-5">
          <div class="summary-stats">
            <h1 class="summary-h1">412</h1>
            <h5 class="summary-h6">backers</h5>
            <h1 class="summary-h1">$508</h1>
            <h5 class="summary-h6">per episode</h5>
            <div class="w-clearfix"><a class="support-button w-button" href="#">Support Project</a><a class="share-button w-button" href="#">Share</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="w-tabs" data-duration-in="300" data-duration-out="100">
      <div class="main-tabs-menu w-tab-menu">
        <a class="main-tab-link w--current w-inline-block w-tab-link" data-w-tab="Tab 1">
          <div>Overview</div>
        </a>
        <a class="main-tab-link w-inline-block w-tab-link" data-w-tab="Tab 2">
          <div>Posts</div>
        </a>
        <a class="main-tab-link w-inline-block w-tab-link" data-w-tab="Tab 3">
          <div>Comments</div>
        </a>
      </div>
      <div class="tab-pane w-tab-content">
        <div class="body-class w--tab-active w-tab-pane" data-w-tab="Tab 1">
          <div class="tab-div">
            <div class="w-row">
              <div class="w-col w-col-1"></div>
              <div class="w-col w-col-7">
                <h1 class="body-title">Hey guys, thanks for your help in supporting the show!</h1>
                <p><strong>Bigfoot. Aliens. Yetis. Killer AI’s. Space privateers. Goblins, ghosts, ESP, and full-on shouting arguments over space elevators.</strong>
                  <br>This is the Weird Things podcast.&nbsp;
                  <br>
                  <br>Five years ago on a Skype call between us, we realized that one of the things that made us friends was our love of strange topics while still being firm critical thinkers and lovers of science.&nbsp;
                  <br>
                  <br>
                  <br>We’d been looking for a way to share this love of science and weird things with others. We wanted to promote critical thinking, yet not belittle oddball ideas or ridicule (in a mean way) the people that hold them.
                  <br>
                  <br>The answer was right in front of us; let’s have these conversations with anybody who wanted to listen. We could share what we found interesting about Bigfoot, killer AI, the perils of using an ape as a guard animal and everything else. People could participate as Andrew forced Brian and Justin into his little philosophical mind games and scenarios. They could watch Justin try diffuse the tension as Andrew and Brian argued about space elevators and the ethical dilemma of cloning your dead child so you’re wife won’t know about the horrible fireworks accident in the backyard.
                  <br>
                  <br>We had no idea how it would grow. Today, each episode has over 10,000 listeners. We’re constantly running into people who listen to the podcast and like to look at the world like we do.
                  <br>
                  <br>Your can check it out here:&nbsp;Weird Things Podcast
                  <br>
                  <br>We’ve taken listeners along with us in search of Night Creepers, hotel ghosts and watched live rocket launches.
                  <br>
                  <br>It’s been an amazing time. Weird Things has become a favorite thing we do.
                  <br>
                  <br>Now we want to make it even better.
                  <br>
                  <br>We want to take this part-time, do-it-whenever show and make it a lot better. We decided to launch a Patreon so we could bring in some adult supervision and make the show a priority.
                  <br>
                  <br>We want to give you more of what you love.
                  <br>
                  <br>If we can get this project funded, we’ll be doing new episodes every wek. We’ll have show notes, video, weekly hangouts and all the other stuff a professional podcast will have.
                  <br>
                  <br>But wait, there’s more…
                  <br>
                  <br>
                  <br>We want to create something special. We want to create live events to bring us all together. We’ve had a few small ones, and they were a blast. Now we want to make it a *thing*.
                  <br>
                  <br>Right now we’re planning WeirdThings.Con. It’ll be a get-together like none other. It’ll be so insane, we’re going to have to make people sign the same kind of waivers as human guinea pigs in experimental drug trials.&nbsp;
                  <br>
                  <br>
                  <br>We also want to help sponsor local Weird Things investigations/meet-ups, turn&nbsp;WeirdThings.com&nbsp;into something even more special and help make the world a little more weird.
                  <br>
                  <br>Underscoring all of this, is our belief that Weird Things, as silly and stupid as it can get sometimes, has been a great way to unite and reach out to people to show them that being a critical thinker, a skeptic and a lover of science can be a wonderful way to look at the world and have fun.</p>
              </div>
              <div class="w-col w-col-3">
                <div class="rewards-div">
                  <h5 class="rewards-title">Rewards</h5>
                  <div class="pledge-div">
                    <h4 class="pledge-title">Pledge $1 or more per Episode</h4>
                    <h6 class="patron-count">180 Backers</h6>
                    <ul>
                      <li>We love you hundred times as much as those cheap, shabby one-cent weirdos. We battle a demon for you in the Blackfire dimension</li>
                      <li>We email you the show notes and links</li>
                      <li>Get the WeirdThings after show podcast feed!</li>
                      <li>Plus! Early access to episodes as they go online!</li>
                    </ul>
                    <div class="button-block"><a class="pledge-button w-button" href="#">Pledge $1</a>
                    </div>
                  </div>
                  <div class="pledge-div">
                    <h4 class="pledge-title">Pledge $2 or more per Episode</h4>
                    <h6 class="patron-count">180 Backers</h6>
                    <ul>
                      <li>Two times the love. Two times the demon killing</li>
                      <li>We email you the show notes and links</li>
                      <li>Get the WeirdThings after show podcast feed!</li>
                      <li>Early access to episodes as they go online!</li>
                      <li>You get to be on the WeirdList. What’s the WeirdList? It’s Andrew’s super secret email list where he sends you the links and articles he finds that he usually only sends to Bri and Justin. You may not be able to handle this. It might be too much Weird for you! Be warned!</li>
                    </ul>
                    <div class="button-block"><a class="pledge-button w-button" href="#">Pledge $2</a>
                    </div>
                  </div>
                  <div class="pledge-div">
                    <h4 class="pledge-title">Pledge $5 or more per Episode</h4>
                    <h6 class="patron-count">180 Backers</h6>
                    <ul>
                      <li>Justin, Brian and Andrew astrally project themselves to your house, protect you from demons and haunt your enemies</li>
                      <li>We email you the show notes and links</li>
                      <li>Get the WeirdThings after show podcast feed!</li>
                      <li>Early access to episodes as they go online!</li>
                      <li>The WeirdList</li>
                      <li>Plus! Be on the super team Google Hangout first invite list! You get first dibs on hanging out in our Hangouts!</li>
                    </ul>
                    <div class="button-block"><a class="pledge-button w-button" href="#">Pledge $5</a>
                    </div>
                  </div>
                  <div class="pledge-div">
                    <h4 class="pledge-title">Pledge $10 or more per Episode</h4>
                    <h6 class="patron-count">180 Backers</h6>
                    <ul>
                      <li>We explain to you what the Blackfire dimension is, why you should be scared and why it’s pointless to do anything now because your soul has already been devoured by the Wind of Eternity.</li>
                    </ul>
                    <div class="button-block"><a class="pledge-button w-button" href="#">Pledge $10</a>
                    </div>
                  </div>
                  <div class="pledge-div">
                    <h4 class="pledge-title">Pledge $100 or more per Episode</h4>
                    <h6 class="patron-count">180 Backers</h6>
                    <ul>
                      <li>We tell you how to spare yourself from the Wind of Eternity. And you get a personal phone call from Mirror Universe Hitler (he tells us there's some things he wants to apologize for).</li>
                    </ul>
                    <div class="button-block"><a class="pledge-button w-button" href="#">Pledge $100</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-col w-col-1"></div>
            </div>
          </div>
        </div>
        <div class="w-tab-pane" data-w-tab="Tab 2">
          <div class="tab-div">
            <div class="w-row">
              <div class="w-col w-col-1"></div>
              <div class="w-col w-col-7">
                <h1>Post 4</h1>
                <p>Polaroid sartorial brooklyn, plaid fingerstache unicorn taxidermy. Chambray VHS dreamcatcher meditation pinterest fingerstache. Fashion axe tumeric authentic meh, jianbing fap williamsburg unicorn normcore freegan plaid. Cardigan neutra schlitz ennui, kickstarter yr chia polaroid cornhole gochujang fixie DIY. Organic af flexitarian, vegan godard whatever copper mug craft beer letterpress disrupt fanny pack shabby chic chia literally. Sartorial gentrify listicle, narwhal kombucha authentic synth irony DIY air plant banjo flannel etsy. Salvia freegan intelligentsia quinoa, chartreuse tumblr marfa cred tumeric truffaut kogi.Ethical plaid seitan, slow-carb pour-over scenester distillery PBR&amp;B gastropub 3 wolf moon fanny pack marfa authentic.
                  <br>
                  <br>Copper mug glossier pabst, 8-bit PBR&amp;B freegan tattooed direct trade flexitarian yr. Hella next level fap XOXO, coloring book 3 wolf moon taxidermy hammock truffaut. Seitan vegan single-origin coffee letterpress, air plant chillwave banjo fingerstache edison bulb crucifix health goth unicorn man braid pug craft beer. Twee unicorn kitsch wolf umami, kombucha crucifix everyday carry scenester tilde brunch street art schlitz. Sustainable blue bottle PBR&amp;B, etsy pork belly unicorn shoreditch snackwave biodiesel. Banh mi sartorial fap mumblecore mlkshk, microdosing gentrify sriracha bespoke.
                  <br>
                  <br>Polaroid sartorial brooklyn, plaid fingerstache unicorn taxidermy. Chambray VHS dreamcatcher meditation pinterest fingerstache. Fashion axe tumeric authentic meh, jianbing fap williamsburg unicorn normcore freegan plaid. Cardigan neutra schlitz ennui, kickstarter yr chia polaroid cornhole gochujang fixie DIY.
                  <br>
                  <br>Organic af flexitarian, vegan godard whatever copper mug craft beer letterpress disrupt fanny pack shabby chic chia literally. Sartorial gentrify listicle, narwhal kombucha authentic synth irony DIY air plant banjo flannel etsy. Salvia freegan intelligentsia quinoa, chartreuse tumblr marfa cred tumeric truffaut kogi.Ethical plaid seitan, slow-carb pour-over scenester distillery PBR&amp;B gastropub 3 wolf moon fanny pack marfa authentic. Copper mug glossier pabst, 8-bit PBR&amp;B freegan tattooed direct trade flexitarian yr. Hella next level fap XOXO, coloring book 3 wolf moon taxidermy hammock truffaut. Seitan vegan single-origin coffee letterpress, air plant chillwave banjo fingerstache edison bulb crucifix health goth unicorn man braid pug craft beer. Twee unicorn kitsch wolf umami, kombucha crucifix everyday carry scenester tilde brunch street art schlitz. Sustainable blue bottle PBR&amp;B, etsy pork belly unicorn shoreditch snackwave biodiesel. Banh mi sartorial fap mumblecore mlkshk, microdosing gentrify sriracha bespoke.</p>
                <h1>Post 3</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                  <br>
                  <br>Polaroid sartorial brooklyn, plaid fingerstache unicorn taxidermy. Chambray VHS dreamcatcher meditation pinterest fingerstache. Fashion axe tumeric authentic meh, jianbing fap williamsburg unicorn normcore freegan plaid. Cardigan neutra schlitz ennui, kickstarter yr chia polaroid cornhole gochujang fixie DIY. Organic af flexitarian, vegan godard whatever copper mug craft beer letterpress disrupt fanny pack shabby chic chia literally. Sartorial gentrify listicle, narwhal kombucha authentic synth irony DIY air plant banjo flannel etsy. Salvia freegan intelligentsia quinoa, chartreuse tumblr marfa cred tumeric truffaut kogi.Ethical plaid seitan, slow-carb pour-over scenester distillery PBR&amp;B gastropub 3 wolf moon fanny pack marfa authentic. Copper mug glossier pabst, 8-bit PBR&amp;B freegan tattooed direct trade flexitarian yr. Hella next level fap XOXO, coloring book 3 wolf moon taxidermy hammock truffaut. Seitan vegan single-origin coffee letterpress, air plant chillwave banjo fingerstache edison bulb crucifix health goth unicorn man braid pug craft beer. Twee unicorn kitsch wolf umami, kombucha crucifix everyday carry scenester tilde brunch street art schlitz. Sustainable blue bottle PBR&amp;B, etsy pork belly unicorn shoreditch snackwave biodiesel. Banh mi sartorial fap mumblecore mlkshk, microdosing gentrify sriracha bespoke.</p>
                <h1>Post 2</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                <h1>Post 1</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                  <br>
                  <br>Polaroid sartorial brooklyn, plaid fingerstache unicorn taxidermy. Chambray VHS dreamcatcher meditation pinterest fingerstache. Fashion axe tumeric authentic meh, jianbing fap williamsburg unicorn normcore freegan plaid. Cardigan neutra schlitz ennui, kickstarter yr chia polaroid cornhole gochujang fixie DIY. Organic af flexitarian, vegan godard whatever copper mug craft beer letterpress disrupt fanny pack shabby chic chia literally. Sartorial gentrify listicle, narwhal kombucha authentic synth irony DIY air plant banjo flannel etsy. Salvia freegan intelligentsia quinoa, chartreuse tumblr marfa cred tumeric truffaut kogi.Ethical plaid seitan, slow-carb pour-over scenester distillery PBR&amp;B gastropub 3 wolf moon fanny pack marfa authentic. Copper mug glossier pabst, 8-bit PBR&amp;B freegan tattooed direct trade flexitarian yr. Hella next level fap XOXO, coloring book 3 wolf moon taxidermy hammock truffaut. Seitan vegan single-origin coffee letterpress, air plant chillwave banjo fingerstache edison bulb crucifix health goth unicorn man braid pug craft beer. Twee unicorn kitsch wolf umami, kombucha crucifix everyday carry scenester tilde brunch street art schlitz. Sustainable blue bottle PBR&amp;B, etsy pork belly unicorn shoreditch snackwave biodiesel. Banh mi sartorial fap mumblecore mlkshk, microdosing gentrify sriracha bespoke.</p>
              </div>
              <div class="w-col w-col-3">
                <div class="rewards-div">
                  <h5 class="rewards-title">Rewards</h5>
                  <div class="pledge-div">
                    <h4 class="pledge-title">Pledge $1 or more per Episode</h4>
                    <h6 class="patron-count">180 Backers</h6>
                    <ul>
                      <li>We love you hundred times as much as those cheap, shabby one-cent weirdos. We battle a demon for you in the Blackfire dimension</li>
                      <li>We email you the show notes and links</li>
                      <li>Get the WeirdThings after show podcast feed!</li>
                      <li>Plus! Early access to episodes as they go online!</li>
                    </ul>
                    <div class="button-block"><a class="pledge-button w-button" href="#">Pledge $1</a>
                    </div>
                  </div>
                  <div class="pledge-div">
                    <h4 class="pledge-title">Pledge $2 or more per Episode</h4>
                    <h6 class="patron-count">180 Backers</h6>
                    <ul>
                      <li>Two times the love. Two times the demon killing</li>
                      <li>We email you the show notes and links</li>
                      <li>Get the WeirdThings after show podcast feed!</li>
                      <li>Early access to episodes as they go online!</li>
                      <li>You get to be on the WeirdList. What’s the WeirdList? It’s Andrew’s super secret email list where he sends you the links and articles he finds that he usually only sends to Bri and Justin. You may not be able to handle this. It might be too much Weird for you! Be warned!</li>
                    </ul>
                    <div class="button-block"><a class="pledge-button w-button" href="#">Pledge $2</a>
                    </div>
                  </div>
                  <div class="pledge-div">
                    <h4 class="pledge-title">Pledge $5 or more per Episode</h4>
                    <h6 class="patron-count">180 Backers</h6>
                    <ul>
                      <li>Justin, Brian and Andrew astrally project themselves to your house, protect you from demons and haunt your enemies</li>
                      <li>We email you the show notes and links</li>
                      <li>Get the WeirdThings after show podcast feed!</li>
                      <li>Early access to episodes as they go online!</li>
                      <li>The WeirdList</li>
                      <li>Plus! Be on the super team Google Hangout first invite list! You get first dibs on hanging out in our Hangouts!</li>
                    </ul>
                    <div class="button-block"><a class="pledge-button w-button" href="#">Pledge $5</a>
                    </div>
                  </div>
                  <div class="pledge-div">
                    <h4 class="pledge-title">Pledge $10 or more per Episode</h4>
                    <h6 class="patron-count">180 Backers</h6>
                    <ul>
                      <li>We explain to you what the Blackfire dimension is, why you should be scared and why it’s pointless to do anything now because your soul has already been devoured by the Wind of Eternity.</li>
                    </ul>
                    <div class="button-block"><a class="pledge-button w-button" href="#">Pledge $10</a>
                    </div>
                  </div>
                  <div class="pledge-div">
                    <h4 class="pledge-title">Pledge $100 or more per Episode</h4>
                    <h6 class="patron-count">180 Backers</h6>
                    <ul>
                      <li>We tell you how to spare yourself from the Wind of Eternity. And you get a personal phone call from Mirror Universe Hitler (he tells us there's some things he wants to apologize for).</li>
                    </ul>
                    <div class="button-block"><a class="pledge-button w-button" href="#">Pledge $100</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-col w-col-1"></div>
            </div>
          </div>
        </div>
        <div class="w-tab-pane" data-w-tab="Tab 3">
          <div class="tab-div">
            <div class="w-row">
              <div class="w-col w-col-1"></div>
              <div class="w-col w-col-7">
                <div class="leave-comment">
                  <h4 class="comments-title">Leave a comment</h4>
                  <p class="comment-text">Please sign in to leave a comment</p>
                </div>
                <div class="comment-container w-container">
                  <div class="comment-div">
                    <div class="w-row">
                      <div class="comment-profile w-col w-col-2"><img src="/assets/128-3.jpg" width="64">
                      </div>
                      <div class="w-col w-col-10">
                        <h5 class="comment-name">Jordan	Rowe</h5>
                        <p class="comment-time">4 hours ago</p>
                        <p>Echo park kale chips tilde neutra, glossier scenester actually put a bird on it wayfarers. Chillwave food truck dreamcatcher leggings ugh mustache. Hashtag literally lomo kitsch, selfies 90's humblebrag occupy mumblecore keytar ugh banjo etsy glossier listicle.</p>
                      </div>
                    </div>
                  </div>
                  <div class="comment-div">
                    <div class="w-row">
                      <div class="comment-profile w-col w-col-2"><img src="/assets/128-2.jpg" width="64">
                      </div>
                      <div class="w-col w-col-10">
                        <h5 class="comment-name">Sonia	Hughes</h5>
                        <p class="comment-time">yesterday</p>
                        <p>Echo park kale chips tilde neutra, glossier scenester actually put a bird on it wayfarers. Chillwave food truck dreamcatcher leggings ugh mustache. Hashtag literally lomo kitsch, selfies 90's humblebrag occupy mumblecore keytar ugh banjo etsy glossier listicle.</p>
                      </div>
                    </div>
                  </div>
                  <div class="comment-div">
                    <div class="w-row">
                      <div class="comment-profile w-col w-col-2"><img src="/assets/128-1.jpg" width="64">
                      </div>
                      <div class="w-col w-col-10">
                        <h5 class="comment-name">Cecelia	Warren</h5>
                        <p class="comment-time">3 days ago</p>
                        <p>Echo park kale chips tilde neutra, glossier scenester actually put a bird on it wayfarers. Chillwave food truck dreamcatcher leggings ugh mustache. Hashtag literally lomo kitsch, selfies 90's humblebrag occupy mumblecore keytar ugh banjo etsy glossier listicle.</p>
                      </div>
                    </div>
                  </div>
                  <div class="comment-div">
                    <div class="w-row">
                      <div class="comment-profile w-col w-col-2"><img src="/assets/128-2.jpg" width="64">
                      </div>
                      <div class="w-col w-col-10">
                        <h5 class="comment-name">Sonia	Hughes</h5>
                        <p class="comment-time">4 days ago</p>
                        <p>Echo park kale chips tilde neutra, glossier scenester actually put a bird on it wayfarers. Chillwave food truck dreamcatcher leggings ugh mustache. Hashtag literally lomo kitsch, selfies 90's humblebrag occupy mumblecore keytar ugh banjo etsy glossier listicle.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-col w-col-3">
                <div class="rewards-div">
                  <h5 class="rewards-title">Rewards</h5>
                  <div class="pledge-div">
                    <h4 class="pledge-title">Pledge $1 or more per Episode</h4>
                    <h6 class="patron-count">180 Backers</h6>
                    <ul>
                      <li>We love you hundred times as much as those cheap, shabby one-cent weirdos. We battle a demon for you in the Blackfire dimension</li>
                      <li>We email you the show notes and links</li>
                      <li>Get the WeirdThings after show podcast feed!</li>
                      <li>Plus! Early access to episodes as they go online!</li>
                    </ul>
                    <div class="button-block"><a class="pledge-button w-button" href="#">Pledge $1</a>
                    </div>
                  </div>
                  <div class="pledge-div">
                    <h4 class="pledge-title">Pledge $2 or more per Episode</h4>
                    <h6 class="patron-count">180 Backers</h6>
                    <ul>
                      <li>Two times the love. Two times the demon killing</li>
                      <li>We email you the show notes and links</li>
                      <li>Get the WeirdThings after show podcast feed!</li>
                      <li>Early access to episodes as they go online!</li>
                      <li>You get to be on the WeirdList. What’s the WeirdList? It’s Andrew’s super secret email list where he sends you the links and articles he finds that he usually only sends to Bri and Justin. You may not be able to handle this. It might be too much Weird for you! Be warned!</li>
                    </ul>
                    <div class="button-block"><a class="pledge-button w-button" href="#">Pledge $2</a>
                    </div>
                  </div>
                  <div class="pledge-div">
                    <h4 class="pledge-title">Pledge $5 or more per Episode</h4>
                    <h6 class="patron-count">180 Backers</h6>
                    <ul>
                      <li>Justin, Brian and Andrew astrally project themselves to your house, protect you from demons and haunt your enemies</li>
                      <li>We email you the show notes and links</li>
                      <li>Get the WeirdThings after show podcast feed!</li>
                      <li>Early access to episodes as they go online!</li>
                      <li>The WeirdList</li>
                      <li>Plus! Be on the super team Google Hangout first invite list! You get first dibs on hanging out in our Hangouts!</li>
                    </ul>
                    <div class="button-block"><a class="pledge-button w-button" href="#">Pledge $5</a>
                    </div>
                  </div>
                  <div class="pledge-div">
                    <h4 class="pledge-title">Pledge $10 or more per Episode</h4>
                    <h6 class="patron-count">180 Backers</h6>
                    <ul>
                      <li>We explain to you what the Blackfire dimension is, why you should be scared and why it’s pointless to do anything now because your soul has already been devoured by the Wind of Eternity.</li>
                    </ul>
                    <div class="button-block"><a class="pledge-button w-button" href="#">Pledge $10</a>
                    </div>
                  </div>
                  <div class="pledge-div">
                    <h4 class="pledge-title">Pledge $100 or more per Episode</h4>
                    <h6 class="patron-count">180 Backers</h6>
                    <ul>
                      <li>We tell you how to spare yourself from the Wind of Eternity. And you get a personal phone call from Mirror Universe Hitler (he tells us there's some things he wants to apologize for).</li>
                    </ul>
                    <div class="button-block"><a class="pledge-button w-button" href="#">Pledge $100</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-col w-col-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>

  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>
