.nav-bar.landing {
  background-color: hsla(0, 0%, 100%, .1);
}

.landing-section-header {
  height: 100vh;
  background-image: url('/assets/bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.landing-nav-link {
  color: white;
}

.landing-title {
  margin-top: 8%;
  color: #fff;
  font-size: 5em;
  line-height: 0.9em;
}

.landing-p {
  color: #fff;
  font-size: 1.2em;
  line-height: 1em;
}

.landing-button-div {
  margin-top: 300px;
  text-align: center;
}

.landing-start-button {
  width: 162px;
  margin-right: 0px;
  margin-left: 25px;
  border-radius: 5px;
  background-color: #30a9de;
  font-size: 1.3em;
}

.landing-start-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.landing-browse-button {
  width: 162px;
  margin-right: 25px;
  margin-left: 0px;
  border-radius: 5px;
  background-color: #ff5f2e;
  font-size: 1.3em;
}

.landing-browse-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.landing-down-div {
  margin-top: 190px;
  text-align: center;
}

.landing-down-button {
  background-color: transparent;
  font-size: 2em;
  letter-spacing: 0.2em;
}

.landing-down-button:hover {
  color: #30a9de;
}

.nav-bar {
  display: block;
  padding-top: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 6px 0 #3d3d3d;
}

.nav-container {
  display: block;
  float: right;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-start-button {
  position: static;
  display: block;
  margin-top: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  clear: none;
  border-radius: 5px;
  background-color: #30a9de;
}

.nav-start-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.nav-menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  float: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.nav-home-link {
	float: left;
}

.body-class {
  background-color: #eaf1f6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.main-title {
  padding-bottom: 30px;
  color: #333;
  text-align: center;
}

.summary-h6 {
  margin-top: 0px;
  color: #7e7e7e;
  font-weight: 400;
}

.summary-h1 {
  margin-bottom: 0px;
}

.summary-stats {
  height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 350px;
  margin: 10px;
  padding: 10px;
  border-width: 3px;
  border-color: #30a9de;
  border-top-style: solid;
  background-color: #fff;
  box-shadow: 2px 2px 3px 0 rgba(94, 94, 94, .99);
}

.summary-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 100%;
}

.support-button {
  display: inline;
  width: 133px;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
  background-color: #30a9de;
  text-align: center;
}

.main-img {
  box-shadow: 1px 1px 3px 0 #000;
}

.share-button {
  display: inline;
  width: 133px;
  margin-right: 10px;
  margin-left: 10px;
  float: right;
  background-color: #afafaf;
  text-align: center;
}

.main-tabs {
  display: block;
  padding-bottom: 0px;
  text-align: left;
}

.main-tabs-menu {
  margin-bottom: 0px;
  padding-bottom: 25px;
  background-color: #fff;
  text-align: center;
}

.tabs-content {
  background-color: #fff;
}

.body-title {
  text-align: center;
}

.main-tab-link {
  background-color: #fff;
}

.main-tab-link:focus {
  background-color: #fafafa;
}

.main-tab-link.w--current {
  background-color: #fff;
  color: #30a9de;
}

.tab-div {
  background-color: #fff;
}

.header-section {
  margin-bottom: 50px;
}

.rewards-title {
  padding-top: 10px;
  border-color: #30a9de;
  border-top-style: solid;
  border-top-width: 3px;
  border-bottom-style: none;
  border-bottom-width: 1px;
  color: #4c4c4c;
  text-align: right;
}

.pledge-title {
  margin-bottom: 0px;
  text-align: left;
}

.patron-count {
  margin-top: 0px;
  color: #4c4c4c;
}

.pledge-button {
  float: none;
  border-radius: 10px;
  background-color: #30a9de;
  text-align: center;
}

.button-block {
  text-align: center;
	margin-top: 1rem;
}

.pledge-div {
  margin-top: 25px;
  margin-bottom: 75px;
}

.cancel-subscribe-text {
	font-size: .6rem;
	text-decoration: none;
	display: block;
	color: #4c4c4c;
}

.create-release-text {
	font-size: 1.2rem;
	text-decoration: none;
	display: inline-block;
	color: #ff5f2e;
	padding-right: 50px;
	padding-bottom: 25px;
}

.login-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  height: 100%;
  margin-top: 0px;
  padding-top: 80px;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
}

.login-wrapper {
  width: 450px;
  max-width: 100%;
  margin: auto;
  padding: 10px 20px 20px;
  background-color: #fff;
}

.form-label {
  text-align: left;
}

.login-button {
  border-radius: 10px;
  background-color: #30a9de;
}

.login-close {
  display: block;
  margin-top: 0px;
  color: #999;
  text-align: right;
}

.login-close-button {
  font-size: 20px;
  cursor: pointer;
}

.login-close-button:hover {
  background-color: transparent;
  color: #353535;
}

.signup-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  height: 100%;
  padding-top: 80px;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
}

.signup-wrapper {
  width: 450px;
  max-width: 100%;
  margin: auto;
  padding: 10px 20px 20px;
  background-color: #fff;
}

.signup-close {
  display: block;
  text-align: right;
}

.signup-close-button {
  display: inline;
  color: #999;
  font-size: 20px;
  text-align: right;
  cursor: pointer;
}

.signup-close-button:hover {
  color: #272727;
}

.project-post-title {
	margin-bottom: 0px;
}
.comments-title {
  margin-bottom: 0px;
  color: #999;
  text-align: center;
}

.comment-text {
  color: #999;
  text-align: center;
}

.comment-div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-profile {
  text-align: center;
}

.comment-time {
  margin-top: -5px;
  margin-bottom: 0px;
  color: #999;
  font-size: 11px;
}

.comment-name {
  margin-bottom: 0px;
}

.leave-comment {
  margin-top: 15px;
  margin-bottom: 50px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.listing-div {
	width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 2px 2px 3px 0 #989898;
  color: #666;
  text-decoration: none;
}

.listing-profile {
  text-align: center;
}

.listing-title {
  color: #606060;
}

.funded-amount {
  display: inline-block;
}

.perepisode-p {
  display: inline;
  padding-left: 6px;
  font-size: 12px;
}

.backers-count {
  display: inline;
  margin-left: 0px;
}

.backers-p {
  display: inline;
  padding-left: 6px;
  font-size: 12px;
}

.listing-summary {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  float: right;
}

.section-class {
  background-color: #f3f3f3;
	padding-bottom: 5rem;
}

.header-image {
  display: inline-block;
  padding: 0px;
  border-top: 0px none #30a9de;
  background-color: #fff;
}

.submit-project-button {
  float: right;
  border-radius: 5px;
  background-color: #30a9de;
}

.cancel-button {
  margin-right: 20px;
  float: right;
  border-radius: 5px;
  background-color: #bbb;
}

.create-project-container {
  color: #666;
}

.tier-creation-div {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px;
  border: 1px solid #666;
  color: #999;
}

.add-tier-button {
  border-radius: 5px;
  background-color: #23a83c;
}

.rewards-creation-div {
  margin-bottom: 25px;
}

.benefits-section {
  background-color: transparent;
}

.login-modal-title {
  margin-top: 0px;
}

.signup-modal-title {
  margin-top: 0px;
}

.social-proof-section {
  background-color: #cacaca;
}

.social-proof-profile {
  position: static;
  display: inline-block;
  margin-top: 0px;
  border-radius: 90px;
  background-image: url('/assets/128-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.social-proof-quote {
  display: inline-block;
  width: 760px;
  max-width: 70%;
  margin-left: 25px;
  float: none;
  border-color: #30a9de;
  background-color: hsla(0, 0%, 100%, .25);
}

.social-proof-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}


.footer-copyright {
  float: none;
  text-align: right;
}

.footer-home-title {
  margin-bottom: 0px;
  text-align: right;
}

.footer-h5 {
  margin-bottom: 0px;
}

.footer-container {
  text-align: right;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.footer-link {
  display: block;
	color: #333;
	text-decoration: none;
}

.subscribe-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  height: 100%;
  margin-top: 0px;
  padding-top: 80px;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
}

.subscribe-wrapper {
  width: 450px;
  max-width: 100%;
  margin: auto;
  padding: 10px 20px 20px;
  background-color: #fff;
}

.subscribe-button {
  border-radius: 10px;
  background-color: #30a9de;
}

.subscribe-close {
  display: block;
  margin-top: 0px;
  color: #999;
  text-align: right;
}

.subscribe-close-button {
  font-size: 20px;
  cursor: pointer;
}

.subscribe-close-button:hover {
  background-color: transparent;
  color: #353535;
}

.stripe-info-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  height: 100%;
  margin-top: 0px;
  padding-top: 80px;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
}

.stripe-info-wrapper {
  width: 450px;
  max-width: 100%;
  margin: auto;
  padding: 10px 20px 20px;
  background-color: #fff;
}

.stripe-info-button {
  border-radius: 10px;
  background-color: #30a9de;
}

.stripe-info-close {
  display: block;
  margin-top: 0px;
  color: #999;
  text-align: right;
}

.stripe-info-close-button {
  font-size: 20px;
  cursor: pointer;
}

.stripe-info-close-button:hover {
  background-color: transparent;
  color: #353535;
}

.dashboard-section {
  display: block;
  background-color: #f3f3f3;
}

.dashboard-graph-block {
  margin: 10px;
	padding: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #000;
}

.dashboard-project-name {
	color: #4b4b4b;
	display: inline;
}

.dashboard-h1 {
	display: inline-block;
}

.dashboard-cust-table  {
	border-collapse:collapse;
	border-spacing:0;
	border-color:#999;
	width:100%;
}

.dashboard-cust-table td {
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:#999;
	color:#444;
	background-color:#F7FDFA;
}

.dashboard-cust-table th {
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:#999;
	color:#fff;
	background-color:#30a9de;
}

.dashboard-cust-table .dashboard-cust-table-th {
	vertical-align:top;
}

.dashboard-account-balance {
  display: inline-block;
  margin-right: 25px;
}

.dashboard-div-account-balance {
  padding-right: 10px;
  text-align: right;
}

.dashboard-withdraw-button {
  padding: 2px 3px;
	background-color: #30a9de;
	border-radius: 3px;
}

.dashboard-cust-div {
	margin-top: 50px;
	margin-bottom: 50px;
}

.dashboard-graph-title {
	text-align: center;
	margin-top: 0px;
	color: #4b4b4b;
}

.w-row {
	/*padding-bottom: 5rem;
	*/
}

.search-text-field {
	color: black;
	width: 7rem;
}

.search-button {
	display: none;
}

.pagination-wrapper {
	text-align: center;
}

.pagination {
  background: white;
  cursor: default;
	display: inline-block;
  /* self-clearing method: */
}
.pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
}
.pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd;
}
.pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
}
.pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
}
.pagination a:hover, .pagination a:focus {
      color: #000033;
      border-color: #000033;
}
.pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
}
.pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em;
	}
.pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .pagination {
    height: 1%;
}
*:first-child + html .pagination {
    overflow: hidden;
}

.wd-withdraw-section {
	margin: 20px;
}

.wd-withdraw-container {
	background: white;
	padding: 20px;
}

.wd-withdraw-title {
	margin: 0px 0px 15px 0px;
}

.wd-withdraw-label {
  display: inline-block;
}

.wd-withdraw-dropdown {
  display: block;
}

.wd-withdraw-textbox {
  display: block;
}

.wd-withdraw-button {
  float: right;
  border-radius: 5px;
}

.wd-history-section {
	margin: 20px;
}

.wd-history-container {
	background: white;
	padding: 20px;
}

.wd-history-title {
	margin: 0px 0px 15px 0px;
}

.wd-history-table  {
	border-collapse:collapse;
	border-spacing:0;
	border-color:#999;
	width:100%;
}

.wd-history-table td{
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:#999;
	color:#444;
	background-color:#F7FDFA;
}

.wd-history-table th {
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:#999;
	color:#fff;
	background-color:#26ADE4;
}

.wd-history-table .wd-history-table-tr {
	vertical-align:top;
	text-align: left;
}

.wd-account-section {
	margin: 20px;
}

.wd-account-container {
	background: white;
	padding: 20px;
}

.wd-account-title {
	margin: 0px 0px 15px 0px;
}

.wd-account-table  {
	border-collapse:collapse;
	border-spacing:0;
	border-color:#999;
	width:100%;
}

.wd-account-table td {
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:#999;
	color:#444;
	background-color:#F7FDFA;
}

.wd-account-table th {
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:#999;
	color:#fff;
	background-color:#26ADE4;
}

.wd-account-table .wd-account-table-tr {
	vertical-align:top
}











html.w-mod-js *[data-ix="login-modal"] {
  display: none;
  opacity: 0;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

html.w-mod-js *[data-ix="signup-modal"] {
  display: none;
  opacity: 0;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

html.w-mod-js *[data-ix="subscribe-modal"] {
  display: none;
  opacity: 0;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

html.w-mod-js *[data-ix="stripe-info-modal"] {
  display: none;
  opacity: 0;
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
